<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <ul class="social-networks-ul list-inline">
                    <li><a href="/resume" title="Jorge's Resume"><i class="far fa-file-alt"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/jorge-bensus" title="Jorge's Linkedin" target="_blank"
                            class="linkedin-button"><i class="fab fa-linkedin-in" alt="Linkedin"></i></a></li>
                    <li><a href="https://github.com/gittohubbo" title="Jorges's Github" target="_blank"
                            class="github-button"><i class="fab fa-github"></i></a></li>
                </ul>
            </div>
            <div class="col-md-6 copyright">
                <small>Developed by JB</small>
                <p class="copyright">Using Node, Express, Handlebars and others</p>
            </div>
        </div>
    </div>
</footer>

</div>
</div>

<script src="https://code.jquery.com/jquery-2.2.4.min.js"
    integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/js/script.js"></script>

</body>

</html>